if rows > 0 && cols > 0
  .grid(class=`grid-cols-${cols} grid-rows-${rows} gap-4 h-screen w-screen p-4`)
    each color, index in colorPairs
      // render the card using the card.pug template
      include card.pug
else
  p.text-red-500
    | Please select a valid board size.
